body{
    background-color: rgb(0, 255, 229);
}
p{
    background-color: rgb(0, 255, 17); 
font-size:20px
}

nav a{
    font-size: 30px;
    text-decoration: none;
    margin:150px;
background-color: rgb(255, 238, 0);
color: blue;
    }
    h2{
        text-align: center;

    }
    footer{
        background-color: DeepPink;
    }
    footer p{
         background-color: DeepPink;
    }
    h1{
        text-align: center;
    }
    .xz{
        border-radius: 100px;
    }
    .zx{
        border-radius:100px ;
    }
.lala{
    background-color:rgb(0, 255, 229) ;
    text-align: center;
}
